In [2]:
import pandas as pd

In [11]:
df = pd.read_csv('/home/souhagaa/Bureau/test/server/UX/UX/data/interm/sessions_periods.csv')

In [12]:
df.shape

(2030, 4)

In [15]:
df['username'].nunique()

687

In [25]:
df_pres = pd.read_csv('/home/souhagaa/Bureau/test/server/UX/UX/data/interm/parsed_access_log.csv')

In [26]:
df_pres.shape

(741773, 3)

In [27]:
df_pres.head()

                    datetime   username                session_id
0  2019-05-30 00:40:21+02:00          -  DBJCe7YpagfQGV08kOWsvM3V
1  2019-05-30 00:40:21+02:00          -  DBJCe7YpagfQGV08kOWsvM3V
2  2019-05-30 00:40:28+02:00          -  DBJCe7YpagfQGV08kOWsvM3V
3  2019-05-30 00:40:45+02:00          -  DBJCe7YpagfQGV08kOWsvM3V
4  2019-05-30 00:40:45+02:00  hbousnina  CGYZazDgjdxPos7hKtV-V0TT

In [29]:
df_pres['session_id'].nunique()

8051